<body>
    <div class="head">
    <h2>MOBİL HABERLEŞME PROTOKOLÜ SORGULAMA</h2>
    </div>
    <div class="description">
    <p>Hoş geldiniz, <br> Akıllı sayacınıza uygun protokolü öğrenebilmek için lütfen aşağıdaki bilgileri eksiksiz ve doğru bir şekilde doldurunuz.
    </p> 
    </div>
<div class="container">
<form class="form-group" #sorguForm="ngForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let grup of soruGruplari">
      <div *ngFor="let soru of grup.sorular">
      <label>{{soru.soruMetni}}</label><br>
      <select  class="form-select" aria-label="Default select example" name="cevap{{soru.id}}" [(ngModel)]="cevaplar[soru.id]" required>
        <option *ngFor="let cevap of soru.cevaplar" [value]="cevap.cevapMetni">{{ cevap.cevapMetni }}</option>
      </select>
    </div>
    </div>
    <br><br>
    <div class="button">
        <input class="btn btn-success btn-lg" type="submit" value="Sorgula">
    </div>
  </form>
  <div></div>
  <div></div>
</div>
</body>
