

<div class="container">
  <h2>Şifremi Unuttum</h2>
  <p>Lütfen yeni şifrenizi oluşturmak için e-posta adresinizi, yeni şifrenizi ve şifrenizi doğrulayın.</p>
  <form (ngSubmit)="resetPassword()">
      <div class="form-group">
          <label for="email">E-posta Adresi</label>
          <input type="email" id="email" name="email" [(ngModel)]="resetPasswordData.email" required>
      </div>
      <div class="form-group">
          <label for="newPassword">Yeni Şifre</label>
          <input type="password" id="newPassword" name="newPassword"[(ngModel)]="resetPasswordData.Password" required>
      </div>
      <div class="form-group">
          <label for="confirmNewPassword">Yeni Şifreyi Doğrula</label>
          <input type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="confirmPassword" required>
      </div>
      <button type="submit" class="btn">Şifreyi Değiştir</button>
  </form>
</div>
