.card-header{
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: rgb(67, 67, 214);
    color: aliceblue;
}
.btn{
    background-color: rgb(67,67,214);
    color: aliceblue;
}
.profileInfos{
    padding:1rem;
    font-size: medium;
}