
<div class="container">
  <div class="profile-header">
      <img class="profile-img" src="https://via.placeholder.com/150" alt="Profile Image">
      <div class="profile-info">
          <h1>{{ userProfile.firstName + " "+ userProfile.surname }}</h1>
          <p>{{  userProfile.email}}</p>
      </div>
      <div class="membership-info">
        {{  userProfile.userType}}
      </div>
  </div>

  <div class="profile-actions">
      <button type="button" class="btn btn-primary" routerLink="/gecmis-sorgular">Geçmiş Sorgularım</button><br><br>
      <button type="button" class="btn btn-secondary" routerLink="/sifre-degistir">Şifremi Değiştir</button><br><br>

      <button class="btn btn-secondary" (click)="logOut()">Çıkış Yap</button>
  </div>
</div>
