body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: rgb(7, 46, 123);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  nav {
    background-color: #f4f4f4;
    overflow: hidden;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  nav ul li button{
    display: block;
    padding: 10px 20px;
  }
  nav ul li a:hover {
    background-color: #ddd;
  }
  section {
    padding: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #f4f4f4;
  }
  .btn{
    margin-right: 1rem;
    width:100px;
  }