
<div class="col-md-12">
  <div class="card card-plain">
    <div class="card-header card-header-danger">
      <h2  class="card-title mt-0">Yönetici Paneli</h2>
  <nav>
        <ul>
          <button style="font-size: large;" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Kullanıcılar
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="loadUsers()">Hepsi</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterUsers('Ücretsiz')">Ücretsiz</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterUsers('Normal')">Normal</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterUsers('Profesyonel')">Profesyonel</a></li>
          </ul>
          <button style="font-size: large;" class="btn" routerLink="/kullanici-ekle">Kullanıcı Ekle</button>
          
         
        </ul>
      </nav>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
            <th>ID</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>E-posta</th>
            <th>Türü</th>
            <th>İşlemler</th>
          </thead>
          <tbody *ngIf="users && users.length > 0; else noUsersWarning">
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.type }}</td>
              <td>
                <button type="button" class="btn btn-primary" routerLink="/kullanici-duzenle">Düzenle</button>
                <button type="button" (click)="deleteUser(user.id)" class="btn btn-danger">Sil</button>
              </td>
            </tr>
          </tbody>
          <ng-template #noUsersWarning>
            <tbody>
              <tr>
                <td colspan="6">Kullanıcı bulunmamaktadır.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
