<div class="container mt-5">
  <h2>Şifremi Değiştir</h2>
  <form (ngSubmit)="updatePassword()">
    <div class="form-group">
      <label for="email">E-Posta Adresi</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="updatePasswordData.email" required>
    </div>
    <div class="form-group">
      <label for="currentPassword">Mevcut Şifre</label>
      <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="updatePasswordData.oldPassword" required>
    </div>
    <div class="form-group">
      <label for="newPassword">Yeni Şifre</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="updatePasswordData.newPassword" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Şifreyi Doğrula</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Şifre Değiştir</button>
  </form>
</div>
