<div *ngIf="showFormService.kayitFormuGoster">

  <div class="wrapper">
    <h2>Kayıt Ol</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input type="text" name="firstName" placeholder="Adınız:" [(ngModel)]="userData.firstName" required />
      </div>
      <div class="input-box">
        <input type="text" name="lastName" placeholder="Soyadınız:" [(ngModel)]="userData.lastName" required />
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="Eposta adresiniz:" [(ngModel)]="userData.email" required />
      </div>
      <div class="input-box">
        <input type="text" name="Membership" value="Abonelik Türü: {{selectedUserType}}" >
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Şifre Oluşturunuz" [(ngModel)]="userData.password" required />
      </div>
      <div class="input-box">
        <input
          type="password"
          name="confirmPassword"
          id="inputPassword5"
          class="form-control"
          aria-describedby="passwordHelpBlock"
          placeholder="Şifreyi Tekrar Yazınız"
          [(ngModel)]="confirmPassword"
          required
        />
      </div>
      <div class="policy">
        <input type="checkbox" name="acceptTerms" [(ngModel)]="acceptterms" required />
        <h3>Tüm şartları ve koşulları kabul ediyorum.</h3>
      </div>
      <div class="input-box button">
        <input type="submit" value="Kayıt Ol" />
      </div>
      <div class="text">
        <h3>Zaten hesabınız var mı? <a [routerLink]="'/giris-yap'">Giriş Yap</a></h3>

      </div>
    </form>
  </div>
</div>
